*, *::before, *::after{
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*======================================*/
html,
body {
  height: 100%;
}

body {
  line-height: 1;
  font-family: Manrope, Arial, sans-serif;
  color: #333333;
}

/*======================================*/

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/*======================================*/

.page {
  flex: 1 1 auto;
}

/*======================================*/

[class*="__container"]{          /*bounding container*/
  max-width: 1170px;
  margin: 0 auto;
}

@media (max-width: 1199.98px) {
  [class*="__container"]{
    max-width: 970px;
  }  
}

@media (max-width: 990.98px) {
  [class*="__container"]{
    max-width: 750px;
  }  
}

@media (max-width: 767.98px) {
  [class*="__container"]{
    max-width: none;
    padding: 0px 15px;
  }  
}

/*======================================*/
.header{

}
.header__container {
  display: flex;
  justify-content: space-between;
  min-height: 103px;
  gap: 10px;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media(max-width:768px){
  .header__container{
    min-height: 0;
    flex-direction: column;

  }
}

.header__logo{
  font-weight: 800;
  font-size: 23px;
  color: inherit;
}
.header__menu{

}

/*======================================*/

.menu{

}

.menu__list{
  display: flex;
  flex-wrap: wrap;
  column-gap: 46px;
  row-gap: 5px;
}

.menu__item{

}

.menu__link{
  font-size: 13px;
  font-weight: 700;
  color: inherit;
}

.menu__link:hover{
  text-decoration: underline;
}
